## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Bandarbeyla,SO,9.4942,50.8122,77.45,74,13,3.58,few clouds
1,1,Lebu,CL,-37.6167,-73.6500,52.16,94,11,5.39,few clouds
2,2,Khatanga,RU,71.9667,102.5000,0.28,89,81,16.04,broken clouds
3,3,Busselton,AU,-33.6500,115.3333,58.05,71,100,8.57,overcast clouds
4,4,Goderich,CA,43.7501,-81.7165,48.90,87,100,2.30,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Bandarbeyla,SO,9.4942,50.8122,77.45,74,13,3.58,few clouds
5,5,Vila Velha,BR,-20.3297,-40.2925,80.55,78,20,12.66,few clouds
8,8,Butaritari,KI,3.0707,172.7902,81.64,72,33,3.42,scattered clouds
10,10,Shingu,JP,33.7333,135.9833,61.79,96,100,7.92,overcast clouds
13,13,Samandag,TR,36.0842,35.9771,68.52,76,0,4.25,clear sky
14,14,Yulara,AU,-25.2406,130.9889,73.24,28,0,17.27,clear sky
15,15,Nisia Floresta,BR,-6.0911,-35.2086,81.41,78,94,7.85,overcast clouds
17,17,Kloulklubed,PW,7.0419,134.2556,84.70,73,75,8.21,broken clouds
18,18,Houma,US,29.5958,-90.7195,80.60,79,90,6.91,overcast clouds
23,23,Hilo,US,19.7297,-155.0900,83.28,76,90,10.36,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        398
City           398
Country        396
Lat            398
Lng            398
Max Temp       398
Humidity       398
Cloudiness     398
Wind Speed     398
Description    398
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Bandarbeyla,SO,9.4942,50.8122,77.45,74,13,3.58,few clouds
5,5,Vila Velha,BR,-20.3297,-40.2925,80.55,78,20,12.66,few clouds
8,8,Butaritari,KI,3.0707,172.7902,81.64,72,33,3.42,scattered clouds
10,10,Shingu,JP,33.7333,135.9833,61.79,96,100,7.92,overcast clouds
13,13,Samandag,TR,36.0842,35.9771,68.52,76,0,4.25,clear sky
...,...,...,...,...,...,...,...,...,...,...
705,705,Salinopolis,BR,-0.6136,-47.3561,81.41,81,1,11.90,clear sky
706,706,Bhadra,IN,29.1167,75.1667,68.23,74,0,4.34,clear sky
709,709,Mareeba,AU,-17.0000,145.4333,85.32,66,6,9.46,clear sky
710,710,Sorong,ID,-0.8833,131.2500,81.82,80,99,7.61,overcast clouds
711,711,Goya,AR,-29.1400,-59.2626,64.44,42,1,0.94,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,77.45,few clouds,9.4942,50.8122,
5,Vila Velha,BR,80.55,few clouds,-20.3297,-40.2925,
8,Butaritari,KI,81.64,scattered clouds,3.0707,172.7902,
10,Shingu,JP,61.79,overcast clouds,33.7333,135.9833,
13,Samandag,TR,68.52,clear sky,36.0842,35.9771,
14,Yulara,AU,73.24,clear sky,-25.2406,130.9889,
15,Nisia Floresta,BR,81.41,overcast clouds,-6.0911,-35.2086,
17,Kloulklubed,PW,84.70,broken clouds,7.0419,134.2556,
18,Houma,US,80.60,overcast clouds,29.5958,-90.7195,
23,Hilo,US,83.28,overcast clouds,19.7297,-155.0900,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,77.45,few clouds,9.4942,50.8122,JABIR HOTEL
5,Vila Velha,BR,80.55,few clouds,-20.3297,-40.2925,Quality Suites Vila Velha
8,Butaritari,KI,81.64,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
10,Shingu,JP,61.79,overcast clouds,33.7333,135.9833,Shingu UI Hotel
13,Samandag,TR,68.52,clear sky,36.0842,35.9771,Truva Life Hotel
...,...,...,...,...,...,...,...
705,Salinopolis,BR,81.41,clear sky,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
706,Bhadra,IN,68.23,clear sky,29.1167,75.1667,Hotel Ganpati
709,Mareeba,AU,85.32,clear sky,-17.0000,145.4333,Trinity Plains Tourist Park
710,Sorong,ID,81.82,overcast clouds,-0.8833,131.2500,waigo splash hotel
711,Goya,AR,64.44,clear sky,-29.1400,-59.2626,Apart Costanera Goya

In [10]:
# 8a. Create the output File (CSV)
output_data_file='WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))